---
import SectionWrapper from './SectionWrapper.astro';
---

<SectionWrapper sectionId="about" sectionName="About">
  <ul>
    <li>株式会社ガン○ム</li>
    <li>GU○D技術による医療事業を目指します。</li>
    <li>ガン○ム開発を承ります</li>
    <li>メールアドレス: gund○m-info@gi.com</li>
  </ul>
  <p>
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
    remaining essentially unchanged.
  </p>
</SectionWrapper>

<style>
  ul,
  ul li:first-child {
    margin-bottom: 30px;
  }

  ul li {
    margin-bottom: 4px;
  }
</style>
