<section id="contact" class="wrapper">
  <h2 class="sec-title">Contact</h2>
  <p>お問い合わせは以下のフォームから</p>
  <form action="#" method="post">
    <dl>
      <dt><label for="name">お名前</label></dt>
      <dd><input type="text" id="name" /></dd>
      <dt><label for="email">メールアドレス</label></dt>
      <dd><input type="email" id="email" /></dd>
      <dt><label for="content">お問い合わせ内容</label></dt>
      <dd><textarea id="content" cols="30" rows="10"></textarea></dd>
    </dl>
    <div class="submit-button">
      <button type="submit">送信</button>
    </div>
  </form>
</section>

<style>
  p {
    text-align: center;
    margin-bottom: 16px;
  }

  dl {
    display: flex;
    flex-wrap: wrap;
  }

  dt {
    width: 20%;
    margin-bottom: 16px;
  }

  dd {
    width: 80%;
    margin-bottom: 16px;
  }

  dd input,
  dd textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #c8c8c8;
  }

  dd textarea {
    height: 10rem;
  }

  .submit-button {
    width: 100%;
    text-align: center;
  }

  .submit-button button {
    width: 240px;
    padding: 20px 40px;
    color: #fff;
    background-color: #000;
    border: 1px solid #000;
    transition: all 0.3s;
  }

  .submit-button button:hover {
    color: #000;
    background-color: #fff;
  }

  @media (max-width: 600px) {
    dl {
      flex-direction: column;
    }
    dt {
      width: 100%;
      margin-bottom: 4px;
    }
    dd {
      width: 100%;
    }
  }
</style>
