<div class="image-wrapper">
  <picture>
    <source media="(max-width: 600px)" srcset="/images/main-sp.jpg" />
    <img src="/images/main-pc.jpg" />
  </picture>
</div>

<style>
  .image-wrapper {
    margin-bottom: 80px;
  }

  img {
    width: 100%;
    max-width: 1920px;
    height: 400px;
    object-fit: cover;
  }
</style>
