---
interface Props {
  href: string;
  src: string;
  alt: string;
}

const { href, src, alt } = Astro.props;
---

<a href={href} target="_blank" rel="noopener noreferrer">
  <img src={src} alt={alt} class="icon" />
</a>

<style>
  .icon {
    width: 30px;
  }

  @media (max-width: 600px) {
    .icon {
      width: 20px;
      margin-top: 15px;
    }
  }
</style>
