---
import SectionWrapper from './SectionWrapper.astro';
---

<SectionWrapper sectionId="works" sectionName="Works">
  <ul>
    <li><img src="/images/works1.jpg" /></li>
    <li><img src="/images/works2.jpg" /></li>
    <li><img src="/images/works3.jpg" /></li>
    <li><img src="/images/works4.jpg" /></li>
    <li><img src="/images/works5.jpg" /></li>
    <li><img src="/images/works6.jpg" /></li>
    <li><img src="/images/works1.jpg" /></li>
    <li><img src="/images/works2.jpg" /></li>
    <li><img src="/images/works3.jpg" /></li>
  </ul>
</SectionWrapper>

<style>
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  ul li {
    width: 31%;
    margin-bottom: 20px;
  }

  ul li img {
    cursor: pointer;
    transition: all 0.3s;
  }

  ul li img:hover {
    transform: scale(1.1, 1.1);
    opacity: 0.7;
  }

  @media (max-width: 600px) {
    ul {
      flex-direction: column;
    }
    ul li {
      width: 100%;
    }
  }
</style>
